* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100vh;
}

.carousel {
  display: flex;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.thumbnails {
  display: block;
  width: 300px;
  /* height: 100px; */
  /* background-color: red; */
  /* margin-left: -100px; */
}

.btn {
  display: block;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  font-size: 20px;
}

i {
  transform: translateY(20%);
}

.backward {
  position: absolute;
  top: 5%;
  left: 50%;
}
.forward {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.carousel .image {
  display: none;
}

.carousel .display {
  display: block;
}

.thumbnails .thumb {
  display: block;
  filter: brightness(30%);
}

.thumbnails .display {
  border: 3px solid #ed4ab9;
  filter: brightness(100%);
}
